@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

#my-team {
    margin: 10px 3px;
    width: 100%;
}

.slot-info {
    font-size: 13px;
    display: block;
    height: 25px;
    width: 100%;
}

.slot-info > .position {
    font-weight: 800;
    width: 35px;
    float: left;
}

.slot-info > .name {
    float: left;
}

.slot-info > .team {
    float: left;
    color: #777;
}


.slot-info > .bye {
    width: 40px;
    float: right;
    font-size: 11px;
}

.center {
    align-content: center;
    text-align: center;
}

.player-card {
    width: 300px;
    border: 1px #000 solid; 
    padding: 0px;
    display: flex;
}

.player-card > div {
    padding: 0 5px 0 0;
}

.player-card > strong {
    display: block;
}

h2 {
    display:  inline-block;
}